.event-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.event-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
